body{
  height:100%;
  width:100%;
  background-color: blanchedalmond;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.demo-editor{
  height:40vh;
  width:inherit;
  background-color: white;
}
.demo-wrapper{
  height:60%;
  width:90%;
  margin: auto;
  max-width: 1000px;
  z-index:2;
}
